

@font-face {
    font-family: 'Jua-Regular';
    /* src: url('fonts/Jua/Jua-Regular.ttf') format('truetype'); */
    src: url('../fonts/Jua/Jua-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Londrina_Shadow';
    src: url('fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playwrite_BE_VLG';
    src: url('fonts/Playwrite_BE_VLG/PlaywriteBEVLG-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik_Doodle_Triangles';
    src: url('fonts/Rubik_Doodle_Triangles/RubikDoodleTriangles-Regular?v=1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131757; /* Example background color */
}

.phrase-container {
    text-align: center;
    margin: 0 auto;
    width: 400px
}


.math-finance {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    font-size: 80px;
    color: white;
    white-space: nowrap; 
    width: 100%;
    text-align: center;
    font-family: 'Jua-Regular', sans-serif;
    font-weight: bold;
    
}

.uci {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Jua-Regular', sans-serif;
    font-weight: bold; 
}

/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic styling for the body */
body {
    font-family: 'Rubik_Doodle_Triangles', sans-serif;
}


/* Styling for the header and navbar */
header {
    background-color: #7080fd17;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

/* space in between the titles in the nav bar */
.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    /* the length of the top header color and the width of the hover boxes */
    padding: 30px 30px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #7080fdf7;
    /* the curve of the box when hovering over a button on the nav bar */
    border-radius: 5px;
}

/* Ensure the main content is not hidden behind the fixed header */
main {
    padding-top: 60px; /* Adjust this value based on the height of the header */
}

